/***** Global Styles *****/

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 20px;
    line-height: 30px;
}

b {
    font-weight: bold;
}

body,
h1,
h2,
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

.content-wrapper{
    max-width: 1106px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

.content-wrapper.legal {
    max-width: 900px;
    padding-top: 56px;
    padding-bottom: 56px;
}

h1{
    font-size: 48px;
    line-height: 58px;
}

h2{
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
}

h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a:hover{
    color: #969696;
}

/***** Header Styles *****/

.header{
    height: 84px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.20);
}

.header .content-wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header img{
    height: 50px;
}

.header a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    display: flex;
}

/***** Hero Styles *****/

.hero{
    height: 618px;
    display: flex;
    position: relative;
}

.hero .empty{
    width: 57%;
    height: 100%;
}

.hero .image{
    width: 43%;
    height: 100%;
    background-image: url(/img/hero-image.jpeg);
    background-size: cover;
    background-position: center top;
}

.hero .content-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
}

.hero .main-description{
    width: 436px;
}

.hero .main-description .text{
    text-align: left;
    margin-top: 24px;
}

.hero .main-description .app-store-buttons-wrapper{
    display: flex;
    justify-content: flex-start;
    margin-top: 56px;
}

.hero .main-description .app-store-button{
    height: 60px;
    max-width: unset;
}

.hero .main-description .google-play{
    margin-left: 24px;
}

.hero .floating-image{
    position: absolute;
    height: 80%;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 230px 100px 150px #000;
    border-radius: 25px;
  }

  .hero .floating-image img{
    height: 100%;
    max-width: unset;
    position: relative;
    border: 8px solid #040104;
    border-radius: 25px;
}

/***** Features Styles *****/

.features{
    background-color: #f2f2f2;
    padding: 96px 0;
}

.features h2{
    text-align: center;
    margin-bottom: 56px;
}

.features .features-wrapper{
    display: flex;
    justify-content: space-between;
}

.features .features-wrapper .features-item{
    flex: 1;
    padding: 0 24px;
}

.features .features-wrapper .features-item.create-collections{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.features .features-wrapper .features-item i{
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}

.features .features-wrapper .features-item h3{
    margin-bottom: 16px;
}

.features .features-wrapper .features-item h3,.text{
    text-align: center;
}

/***** Social Feature Styles *****/

.social-feature{
    height: 508px;
    display: flex;
}

.social-feature .images{
    position: relative;
    width: 50%;
}

.social-feature .images .profile{
    width: 322px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.10);
    position: absolute;
    right: 0;
    top: 48px;
}

.social-feature .images .home{
    width: 222px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 125px;
    right: 294px;
}

.social-feature .content{
    width: 50%;
    display: flex;
    align-items: center
}

.social-feature .content .social-feature-description{
    max-width: 553px;
    padding-left: 130px;
    padding-right: 32px;
}

.social-feature .content .social-feature-description h2{
    text-align: left;
    margin-bottom: 24px;
}

.social-feature .content .social-feature-description .text{
    text-align: left;
}

/***** Join Today Styles *****/

.join-today{
    position: relative;
    background-color: #000;
    padding: 96px 0;
}

.join-today h2{
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.join-today .app-store-buttons-wrapper{
    display: flex;
    justify-content: center;
}

.join-today .app-store-button{
    height: 50px;
}

.join-today .google-play{
    margin-left: 32px;
}

/***** Footer Styles *****/

.footer{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 32px 0;
    border-top: 1px solid #969696;
}

.footer .content-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .bottom-navigation ul li{
    display: inline;
    margin-right: 32px;
}

.footer a{
    color: #fff;
    text-decoration: none;
}



/***** Contact Styles *****/

.contact-background-image{
    background-image: url(/img/hero-image.jpeg);
    background-size: cover;
    background-position: center top;
    height: calc(100vh - 84px);
}

.contact-background-color{
    background-color:rgba(0, 0, 0, 0.5);
    height: calc(100vh - 84px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-content{
  text-align: center;
}

.contact-content h1{
    color: #fff;
}

.contact-content a{
    color: #fff;
    text-decoration: none;
}

/***** Privacy policy & Terms of Use Styles *****/

.legal h1{
    margin-bottom: 32px;
}

.legal h2,
.legal h3{
    margin: 24px 0 16px 0;
}

.legal h4{
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0 16px;
}

.legal p{
    margin-bottom: 8px;
}

.legal a {
    word-break: break-all;
}

.legal p strong{
    font-weight: 500;
}

.legal ul{
    padding-left: 56px;
    margin-bottom: 8px;
}

.legal ul li{
    list-style-type: circle;
}



/***** Early Adopters *****/
.early-adopters p {
    margin-top: 20px;
}

.early-adopters .app-store-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.early-adopters .app-store-buttons .app-store-button {
    padding: 0 20px;
    max-width: 300px;
}


/***** Media Queries Styles *****/

@media (max-width: 1200px){

    .hero .empty{
        width: 72%;
    }

    .hero .image{
        width: 28%;
    }

    .hero .main-description .google-play{
        margin-left: 32px;
    }

    .hero .floating-image{
        left: 72%;
    }

    .social-feature .images .home{
        width: 200px;
        top: 157px;
        right: 180px;
    }

    .social-feature .images .profile{
        width: 300px;
    }

    .social-feature .content .social-feature-description{
        padding-left: 60px;
    }

}

@media (max-width: 862px){

    .hero{
        height: auto;
        flex-direction: column;
    }

    .hero .empty{
        width: 100%;
        height: 508px;
    }

    .hero .image{
        width: 100%;
        height: 210px;
    }

    .hero .content-wrapper{
        height: auto;
        top: 90px;
    }

    .hero .main-description .app-store-buttons-wrapper{
        margin-top: 40px;
    }

    .hero .main-description .app-store-button{
        height: 50px;
    }

    .hero .floating-image{
        left: auto;
        right: 24px;
        transform: translatey(-50%);
        height: 460px;
    }

    .features h2{
        margin-bottom: 48px;
    }

    .features .features-wrapper{
        display: block;
    }

    .features .features-wrapper .features-item{
       max-width: 450px;
       margin: 48px auto 0;
    }

    .features .features-wrapper .features-item.create-collections{
        border-left: none;
        border-right: none;
    }
}


@media (max-width: 760px){

    h1{
        font-size: 32px;
        line-height: 42px;
    }

    h2{
        font-size: 26px;
        line-height: 36px;
    }

    h3{
        font-size: 22px;
        line-height: 26px;
    }

    .header{
        height: 72px;
    }

    .header img{
        height: 40px;
    }

    .hero .empty {
        height: 370px;
    }

    .hero .content-wrapper {
        top: 44px;
    }

    .hero .main-description {
        width: 380px;
    }

    .hero .main-description .text{
        margin-top: 16px;
    }

    .hero .main-description .app-store-buttons-wrapper{
        margin-top: 32px;
    }

    .hero .main-description .app-store-button{
        height: 40px;
    }

    .hero .floating-image {
        height: 400px;
    }

    .features {
        padding: 56px 0;
    }

    .social-feature {
        height: 360px;
    }

    .social-feature .images {
        width: 40%;
    }

    .social-feature .images .home {
        top: 110px;
    }

    .social-feature .images .profile {
        width: 260px;
        top: 32px;
    }

    .social-feature .content {
        width: 60%;
    }

    .join-today {
        padding: 56px 0;
    }

    .join-today h2 {
        margin-bottom: 24px;
    }

    .join-today .app-store-button {
        height: 40px;
    }

    .contact-background-image,
    .contact-background-color{
        height: calc(100vh - 72px);
    }

}

@media (max-width: 650px){

    .content-wrapper{
        padding: 0 24px;
    }

    .header a.contact{
        display: none;
    }

    .hero .floating-image {
        height: 360px;
        top: 426px;
        right: 16px;
    }

    .social-feature .images .profile {
        width: 210px;
        top: 32px;
    }

    .social-feature .content {
        width: 65%;
    }

    .social-feature .content .social-feature-description {
        padding-left: 50px;
    }

    .footer{
        padding: 40px;
    }

    .footer .content-wrapper{
        display: block;
        text-align: center;
    }

    .footer .bottom-navigation{
        margin-bottom: 40px;
    }

    .footer .bottom-navigation ul li{
        display: block;
        text-align: center;
        margin: 0 0 16px;
    }

}

@media (max-width: 538px){

    .hero .floating-image {
        height: 250px;
        top: 475px;
    }

    .features {
        padding-bottom: 92px;
    }

    .social-feature{
        display: block;
        height: auto;
    }

    .social-feature .images {
        width: 100%;
    }

    .social-feature .images .home {
        width: 172px;
        top: 0;
        left: 50%;
        transform: translateX(-105%)
    }

    .social-feature .images .profile {
        width: 203px;
        top: -36px;
        left: 50%;
        transform: translateX(-10%)
    }

    .social-feature .content {
        width: 100%;
        padding-top: 372px;
        padding-bottom: 56px;
    }

    .social-feature .content .social-feature-description {
        padding: 0 24px;
    }

}

@media (max-width: 400px){

    .content-wrapper{
        padding: 0 14px;
    }

    .hero .content-wrapper{
        top: 32px;
    }

    .social-feature .images .home {
        width: 146px;
        transform: translateX(-110%)
    }

    .social-feature .images .profile {
        width: 174px;
        transform: translateX(-8%)
    }

    .social-feature .content {
        padding-top: 316px;
    }
}

@media (max-width: 320px){
  .hero .empty{
      height: 400px;
  }

  .hero .floating-image{
      top: 510px;
  }
}
