.Contact {
  .contact-background-image {
    background-image: url(/img/hero-image.jpeg);
    background-size: cover;
    background-position: center top;
    height: calc(100vh - 84px);

    @media (max-width: 760px) {
      height: calc(100vh - 72px);
    }
  }

  .contact-background-color {
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 84px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 760px) {
      height: calc(100vh - 72px);
    }
  }

  .contact-content {
    text-align: center;

    h1 {
      color: #fff;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
