.Developers {
  padding: 50px 0;

  &__block {
    background-color: #eee;
    padding: 16px;
    margin: 20px 0;
    border-radius: 3px;

    input {
      margin-top: 8px;
    }
  }

  hr,
  .Login,
  .SignUp {
    width: 50%;
    margin: 0 auto;
  }
}
