.Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .photo-wrapper {
    width: 25%;

    @media (max-width: 425px) {
      width: 50%;
    }

    .photo {
      width: 100%;
      padding-top: 60%;
      background-size: cover;
      transform: scale(1);
      z-index: 1;
      position: relative;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.2);
        z-index: 2;
      }
    }
  }
}
